<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章 - Powered by __CAOZHA-SYS-NAME__ __CAOZHA-SYS-VERSION__</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__CAOZHA-LAYUIMINI__/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__CAOZHA-LAYUIMINI__/css/public.css" media="all">
    <script src="__CAOZHA-STATIC__/js/jquery-3.4.1.min.js"></script>
    <script src="__CAOZHA-LAYUIMINI__/lib/layui/layui.js" charset="utf-8"></script>
    <script src="__CAOZHA-STATIC__/js/all.js"></script>
    <link rel="stylesheet" href="__CAOZHA-STATIC__/css/style.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">搜索<i class="layui-icon layui-colla-icon"></i></h2>
                <div class="layui-colla-content layui-show">
                    <div class="layui-row">
                        <form class="layui-form layui-col-md12 layui-form2" method="get">

                            <input type="text" name="keyword" value="" placeholder="请输入关键词" autocomplete="off" class="layui-input">

                            <div class="layui-input-inline">
                                <select name="catid" lay-filter="catid" lay-search="" class="layui-inline">
                                    <option value="">请选择栏目</option>
                                    {$parentid_select|raw}
                                </select>
                            </div>

                            <div class="layui-input-inline cz-select">
                                <select name="status" lay-filter="status" class="layui-inline">
                                    <option value="">文章状态</option>
                                    {foreach $article_status as $key=>$vo }
                                    <option value="{$key}">{$vo}</option>
                                    {/foreach}
                                </select>
                            </div>

                            <div class="layui-input-inline cz-select">
                                <select class="layui-inline" name="islink">
                                    <option value="">外部链接</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>

                            <div class="layui-input-inline cz-select">
                                <select class="layui-inline" name="iscomment">
                                    <option value="">允许评论</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>

                            <div class="layui-input-inline cz-select">
                                <select class="layui-inline" name="isreco">
                                    <option value="">推荐</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>

                            <div class="layui-input-inline cz-select">
                                <select class="layui-inline" name="ishot">
                                    <option value="">热门</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>

                            <div class="layui-input-inline cz-select">
                                <select class="layui-inline" name="istop">
                                    <option value="">置顶</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>

                            <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn"
                        lay-event="delete"> 删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-primary data-count-view" lay-event="view">详情</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">修改</a>
        </script>


    </div>
</div>
<script>
    layui.use(['form','element', 'table'], function () {
        var form = layui.form,
            table = layui.table;

        layer_skin(layer);

        var lement = layui.element;//面包导航

        table.render({
            elem: '#currentTableId',
            url: '{:url(\'admin/article/get\')}',
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": "0", //解析接口状态 res.status
                    "msg": "", //解析提示文本 res.message
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            },
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'print', 'exports',{
                title: '提示：双击可查看详情',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            even: false,//隔行背景
            size: "",//sm （小尺寸）       lg （大尺寸）
            cols: [[
                {type: "checkbox", width: 48, align: "center"},
                {field: 'aid', width: 75, title: 'ID', sort: true},
                {field: 'title',minWidth:300, title: '标题'},
                {field: 'catname', width: 165, title: '分类'},
                {field: 'listorder', width: 70, title: '排序', align: "center"},
                {field: 'status', width: 60, title: '状态', align: "center"},
                {field: 'islink', width: 60, title: '外链', align: "center"},
                {field: 'iscomment', width: 60, title: '评论', align: "center"},
                {field: 'isreco', width: 60, title: '推荐', align: "center"},
                {field: 'ishot', width: 60, title: '热门', align: "center"},
                {field: 'istop', width: 60, title: '置顶', align: "center"},
                {field: 'inputtime', width: 165, title: '发布时间'},
                {field: 'hits', width: 90, align: "center", title: '浏览数'},
                {title: '操作', width: 130, toolbar: '#currentTableBar', align: "center", fixed: "right"}
            ]],
            limits: [5, 10, 15, 20, 25, 50, 100, 200, 500, 1000],
            limit: {$article_limit},
            page: true,
			escape:false,//默认不转义html
            skin: 'line'
        });


        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var aid_arr = $.map(data, function (d) {
                    return d.aid;
                });
                var aid_str = aid_arr.join(",");//转为字符串

                if (aid_str == "") {
                    // var caozha_error=layer.alert('请先选择的数据。', {
                    //      title:'错误提示',
                    //      btn: ['确定'],
                    //      closeBtn: 0,
                    //      btnAlign: 'c',
                    //      icon: 5,
                    //  }, function(){
                    //     layer.close(caozha_error);
                    //      });
                    layer.msg('请先选择要删除的数据。', {icon: 2});
                    return false;
                }

                caozha_alert = layer.confirm('确定要删除ID为[ ' + aid_str + ' ]的文章吗？<br>删除后无法撤销。', {
                    btn: ['确认删除', '取消删除'],
                    btnAlign: 'c',
                    title: "操作提示"
                }, function () {

                    $.ajax({
                        type: "post",
                        url: '{:url(\'admin/article/delete\')}',
                        data: {aid: aid_str},
                        dataType: "json",
                        async: false,
                        success: function (del_data) {
                            if (del_data.code == 1) {
                                layer.msg('删除成功，共删除' + del_data.del_num + '条文章！', {icon: 1});
                                //执行删除后重载
                                table.reload('currentTableId', {
                                    page: {
                                        curr: 1
                                    }
                                }, 'data');
                            } else {
                                layer.msg('删除失败', {icon: 2});
                            }
                        }
                    });
                    layer.close(caozha_alert);//关闭

                });

            }else if (obj.event === 'add') {  // 监听添加操作

                var index = layer.open({
                    title: '添加文章',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    //shadeClose: true,
                    btn: ['立即提交', '重置'],
                    btnAlign: 'c',
                    resize:true,//允许拉伸
                    area: ['95%', '95%'],
                    content: '{:url(\'admin/article/add\')}',
                    yes: function(index, layero){
                        //按钮【按钮一】的回调

                        var body = layer.getChildFrame('body', index);
                        //console.log(body.html()) //得到iframe页的body内容
                        //body.find('input').val('Hi，我是从父页来的')
                        body.find(".caozha-submit").click();

                        //var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();


                    }
                    ,btn2: function(index, layero){
                        //按钮【按钮二】的回调
                        var body = layer.getChildFrame('body', index);
                        body.find(".caozha-reset").click();

                        return false;// 开启该代码可禁止点击该按钮关闭
                    }
                    ,cancel: function(){
                        //右上角关闭回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });

            }
        });

        // 监听搜索操作
        form.on('submit(search)', function(data){
            //data.field
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                ,where: data.field //设定异步数据接口的额外参数

            });

            return false;
        });

        //解决下拉框出现&nbap乱码
        form.on('select(catid)', function(data){
            let selectText=data.elem[data.elem.selectedIndex].text;//得到被选中的文本值
            selectText=selectText.trim();//去掉&nbap
            data.elem[data.elem.selectedIndex].text=selectText;//覆盖原文本值
        });


        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //监听行双击事件
        table.on('rowDouble(currentTableFilter)', function(obj){
            //console.log(obj.tr) //得到当前行元素对象
            //console.log(obj.data) //得到当前行数据
            //obj.del(); //删除当前行
            //obj.update(fields) //修改当前行数据

            var article_data = obj.data;

            var index = layer.open({
                title: '查看文章',
                type: 2,
                shade: 0.2,
                maxmin: true,
                shadeClose: true,
                area: ['95%', '95%'],
                content: '{:url(\'admin/article/view\')}?aid='+article_data.aid,
            });

            return false;


        });

        //查看 修改
        table.on('tool(currentTableFilter)', function (obj) {
            var article_data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '修改文章',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    //shadeClose: true,
                    btn: ['立即提交', '重置'],
                    btnAlign: 'c',
                    resize:true,//允许拉伸
                    area: ['95%', '95%'],
                    content: '{:url(\'admin/article/edit\')}?aid='+article_data.aid,
                    yes: function(index, layero){
                        //按钮【按钮一】的回调

                        var body = layer.getChildFrame('body', index);
                        //console.log(body.html()) //得到iframe页的body内容
                        //body.find('input').val('Hi，我是从父页来的')
                        body.find(".caozha-submit").click();

                        //var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();


                    }
                    ,btn2: function(index, layero){
                        //按钮【按钮二】的回调
                        var body = layer.getChildFrame('body', index);
                        body.find(".caozha-reset").click();

                        return false;// 开启该代码可禁止点击该按钮关闭
                    }
                    ,cancel: function(){
                        //右上角关闭回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });

                return false;
            } else if (obj.event === 'view') {

                var index = layer.open({
                    title: '查看文章',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['95%', '95%'],
                    content: '{:url(\'admin/article/view\')}?aid='+article_data.aid,
                });
                return false;

            }
        });


    });

</script>

</body>
</html>