<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>评论</title>
</head>
<body style="text-align: center">

<div style="max-width: 1110px;margin: 0px auto;text-align: left;padding: 0px;">
    <!-- 评论 开始 -->
    <script>
        cz_cmt_template="{:url('index/comment/template')}";//模板页接口
        cz_cmt_list="{:url('index/comment/list')}";//读取评论列表接口
        cz_cmt_doaction="{:url('index/comment/doaction')}";//发布评论接口
        cz_cmt_dolike="{:url('index/comment/dolike')}";//点赞或踩接口
        cz_cmt_userinfo="{:url('index/comment/userinfo')}";//获取会员信息
    </script>
    <div class="pinglun">
        <div class="pl-520am" data-cmtid="act_1" data-catid="0" data-pagesize="{$cmt_config.cmt_pagesize}" data-scrollload="{$cmt_config.is_scroll_load}" data-scrollbottom="{$cmt_config.bottom_scroll_load}" data-showhot="{$cmt_config.cmt_hot}" data-hotpagesize="{$cmt_config.cmt_hot}"></div>
        <script type="text/javascript" src="__CAOZHA-STATIC__/cz_cmt/api.js"></script>
    </div>
    <!-- 评论 结束 -->
</div>

</body>
</html>